{% load static %}
{% block content %}
<!--=====================================
Profile
======================================-->



<aside class="ps-block--store-banner">

	<div class="ps-block__user">

		<div class="ps-block__user-avatar">

			<img src="{% static 'img/vendor/store/user/5.jpg' %}" alt="">

			<div class="br-wrapper">

			   <button class="btn btn-primary btn-lg rounded-circle"><i class="fas fa-pencil-alt"></i></button>

			</div>

			<div class="br-wrapper br-theme-fontawesome-stars mt-3">

				<select class="ps-rating" data-read-only="true" style="display: none;">
					<option value="1">1</option>
					<option value="1">2</option>
					<option value="1">3</option>
					<option value="1">4</option>
					<option value="2">5</option>
				</select>

			</div>

		</div>

		<div class="ps-block__user-content text-center text-lg-left">

			<h2 class="text-white">{{ user.firstname}} {{user.lastname}}</h2>

			<!-- <p><i class="fas fa-user"></i> {{ Storemodel.objects.name_store }}</p> -->

			<p><i class="fas fa-envelope"></i> {{user.email}}</p>

			<button class="btn btn-warning btn-lg">Change Password</button>

		</div>

		<div class="row ml-lg-auto pt-5">

			<div class="col-lg-3 col-6" style="padding-right: 51px;
    padding-left: 53px;">
				<div class="text-center">
					<a href="#">
						<h1><i class="fas fa-shopping-cart text-white"></i></h1>
						<h4 class="text-white">Orders <span class="badge badge-secondary rounded-circle">51</span></h4>
					</a>
				</div>
			</div><!-- box /-->

			<div class="col-lg-3 col-6" style="padding-right: 51px;
    padding-left: 53px;">
				<div class="text-center">
					<a href="#">
						<h1><i class="fas fa-shopping-bag text-white"></i></h1>
						<h4 class="text-white">Products <span class="badge badge-secondary rounded-circle">51</span></h4>
					</a>
				</div>
			</div><!-- box /-->

			<!-- <div class="col-lg-3 col-6">
				<div class="text-center">
					<a href="#">
						<h1><i class="fas fa-bell text-white"></i></h1>
						<h4 class="text-white">Disputes <span class="badge badge-secondary rounded-circle">51</span></h4>
					</a>
				</div>
			</div> -->

			<!-- box /-->

			<div class="col-lg-3 col-6" style="padding-right: 51px;
    padding-left: 53px;">
				<div class="text-center">
					<a href="#">
						<h1><i class="fas fa-comments text-white"></i></h1>
						<h4 class="text-white">Questions <span class="badge badge-secondary rounded-circle">51</span></h4>
					</a>
				</div>
			</div>

			<!-- box /-->
		</div>

	</div>

</aside><!-- s -->
<ul class="ps-section__links">
                        <li><a href=my-account_wishlist.html>My Wishlist</a></li>
                        <li><a href="my-account_my-shopping.html">My Shopping</a></li>
                        <li  class="active"><a href="my-account_my-store.html">My Store</a></li>
                        <li><a href="my-account_my-sales.html">My Sales</a></li>
                    </ul>
</div>
{% endblock %}
