{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- CSS only -->
<link rel="stylesheet" href="{% static 'css/register/register.css' %}">

<div class="fixed-top">
	{% include "pwd/section_path.html" %}
</div>

<!--=====================================
	Register Form
	======================================-->

	<div class="container-register">
		<h1>Password succesfully updated!</h1>
        </div>
<hr>
<div class="items-bottom-register">
	<a href="{% url 'login' %}">Login</a>
	<ul class="links-register">
		<li><a href="#">Terms and conditions</a></li>
		<li><a href="#">Privacy policy</a></li>
		<li><a href="#">Help</a></li>
	</ul>
	<div class="inc-register">
			<p>FabriSeller Corporation Inc.</p>
	</div>
</div>

{% endblock %}