{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- CSS only -->
<link rel="stylesheet" href="{% static 'css/register/register.css' %}">

<div class="fixed-top">
	{% include "pwd/section_path.html" %}
</div>

<!--=====================================
	Register Form
	======================================-->

	<div class="container-register">
        
		<div class="container">
            <div>check your email to password reset</div>
            <div>
                <img src="https://media.giphy.com/media/3cYVteV5GSqYJ81WVO/giphy.gif" alt="">
            </div>
        </div>
    </div>
<hr>
<div class="items-bottom-register">
	<ul class="links-register">
		<li><a href="#">Terms and conditions</a></li>
		<li><a href="#">Privacy policy</a></li>
		<li><a href="#">Help</a></li>
	</ul>
	<div class="inc-register">
			<p>FabriSeller Corporation Inc.</p>
	</div>
</div>

{% endblock %}