{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- CSS only -->
<link rel="stylesheet" href="{% static 'css/register/register.css' %}">

<div class="fixed-top">
	{% include "pwd/section_path.html" %}
</div>

<!--=====================================
	Register Form
	======================================-->

	<div class="container-register">
		<form method="POST" id="form" class="form">
			{% csrf_token %}
			<h3>logo ...</h3>
			<div class="col">
				{% include "account/messages.html" %}
			</div>
						
			   <div class="col">
				<div class="form-control-register">
					<input 	type="email" 
							name="email"  
							placeholder="Email..." 
							id="email" 
							value="{{values.email}}"
							required>
					<div class="emailFeedBackArea invalid-feedback" style="display: none;"></div>
					<small>error message</small>
				</div>
			   </div> 
			   
	   				  
						  <div class="col">
							<div class="form-control-register">
									<button type="submit" name="login">Reset password</button>
							</div>
						</div>
						
	   	 			</div>
						<div class="form" style="margin-top: -74px;">
							<div class="form-control-register already-registered">
								<ul class="ul-reset">
									<li><a href="{% url 'login' %}">login</a>
									</li><a href="{% url 'register' %}">register</a>
								</ul>
							<div class="form-control-register" style="margin-left:auto;margin-right:auto;">
								<p style="font-size: 12px;">At the moment to login in FabriSeller you are <strong>accepting terms</strong> and <strong>condittions</strong></p>
							</div>
							</div>
						</div>
						
			</form>
        </div>
<hr>
<div class="items-bottom-register">
	<ul class="links-register">
		<li><a href="#">Terms and conditions</a></li>
		<li><a href="#">Privacy policy</a></li>
		<li><a href="#">Help</a></li>
	</ul>
	<div class="inc-register">
			<p>FabriSeller Corporation Inc.</p>
	</div>
</div>

{% endblock %}