{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "pwd/section_path.html" %}
{% if user.is_authenticated %}

<!--=====================================
My Account Content
======================================-->
<div class="ps-vendor-dashboard pro">

	<div class="container">

		<div class="ps-section__header">

		{% include "account/banner_profile.html" %}

		<form class="needs-validation" novalidate method="post" style="margin-top:20px;">
			<div class="container">
				<h3 style="color:#333;margin-top:20px;">Add products and enjoy selling</h3>
			{% csrf_token %}

			<!-- <div class="form-row">
   				<div class="col-md-6 mb-4">
					{{ form.name_product }}
				</div>
				<div class="col-md-6 mb-4">
					{{ form.price_product }}
				</div>
			</div>

			<div class="form-row">
   				<div class="col-md-6 mb-4">
					{{ form.shipping_product }}
				</div>
				<div class="col-md-6 mb-4">
					{{ form.image_product }}
				</div>
			</div>

			<div class="form-row">
   				<div class="col-md-6 mb-4">
					{{ form.stock_product }}
				</div>
				<div class="col-md-6 mb-4">
					{{ form.delivery_time_product }}
				</div>
			</div>

			<div class="form-row">
   				<div class="col-md-6 mb-4">
					{{ form.offer_product }}
				</div>
				<div class="col-md-6 mb-4">
					{{ form.description_product }}
				</div>
			</div>

			<div class="form-row">
   				<div class="col-md-6 mb-4">
					<label style="margin-bottom:10px;" for="exampleFormControlFile1">Logo store image <span><small> 300x300</small></span></label>
					{{ form.summary_product }}
				</div>
				<div class="col-md-6 mb-4">
					<label style="margin-bottom:10px;" for="exampleFormControlFile1">Cover store image <span><small> 1349x290</small> This image will display in the homepage randomly</span></label>
					{{ form.details_product }}
				</div>
			</div>

			<div class="form-row">
   				<div class="col-md-6 mb-4">
					{{ form.specifications_product }}
				</div>
				<div class="col-md-6 mb-4">
					{{ form.fk_id_store_product }}
				</div>
			</div>
			<div class="form-row">
   				<div class="col-md-6 mb-4">
					{{ form.fk_id_category }}
				</div>
			</div> -->

			{{form}}
			<br>
			<div>
				
			</div><br>
			

			<!-- <div>
				<label for="fk_user_id">name product: </label>
				{{form.name_product}}
			</div><br>
			
			<div>
				<label for="fk_id_store">foreign key: </label>
				<input id="fk_id_store" type="input" name="fk_id_store" value="{{ current_store }}">
			</div><br> -->

			<div class="form-group row">
				<div class="col-sm-10">
					<button class="ps-btn" type="submit" name="button" style="margin-top:20px;">Create product</button>
				</div>
			</div>
		</form>

</div>
</div>
</div>

{% else %}
	<div class="container">
		<h1>404 page</h1>
	</div>
{% endif %}
{% endblock %}
