{% extends "base.html" %}
{% load static %}

{% block title %}ComproMas | {{product.title|title}}{% endblock %}
{% block content %}

{% include "header.html" %}
{% include "pwd/section_path.html" %}
{% if product.is_active %}

    <!--=====================================
    Product Content
    ======================================--> 

	<div class="ps-page--product">

        <div class="ps-container">

        	<!--=====================================
    		Product Container
    		======================================--> 

            <div class="ps-page__container">

        		<!--=====================================
    			Left Column
    			======================================--> 

                <div class="ps-page__left">

                    <div class="ps-product--detail ps-product--fullwidth">

                    	<!--=====================================
    					Product Header
    					======================================--> 

                        <div class="ps-product__header">

                        	<!--=====================================
    						Gallery
    						======================================--> 

                            <div class="ps-product__thumbnail" data-vertical="true">

                                <figure>

                                    <div class="ps-wrapper">

                                        <div class="ps-product__gallery" data-arrow="true">

                                            <div class="item">
                                            	<a href="{{ product.image.url}}">
                                            		<img src="{{product.image.url}}" alt="">
                                            	</a>
                                            </div>

                                            <div class="item">
                                            	<a href="{{product.image_2.url}}">
                                            		<img src="{{product.image_2.url}}" alt="">
                                            	</a>
                                            </div>

                                            <div class="item">
                                            	<a href="{product.image_3.url}}">
                                            		<img src="{{product.image_3.url}}" alt="">
                                            	</a>
                                            </div>

                                            <div class="item">
                                            	<a href="{product.image_4.url}}">
                                            		<img src="{{product.image_4.url}}" alt="">
                                            	</a>
                                            </div>

                                        </div>

                                    </div>

                                </figure>

                                <div class="ps-product__variants" data-item="4" data-md="4" data-sm="4" data-arrow="false">
                                    
                                    <div class="item">
                                    	<img src="{{product.image.url}}" alt="">
                                    </div>

                                    <div class="item">
                                    	<img src="{{product.image_2.url}}" alt="">
                                    </div>

                                    <div class="item">
                                    	<img src="{{product.image_3.url}}" alt="">
                                    </div>

                                    <div class="item">
                                    	<img src="{{product.image_4.url}}" alt="">
                                    </div>

                                </div>

                            </div><!-- End Gallery -->

                            <!--=====================================
    						Product Info
    						======================================--> 

                            <div class="ps-product__info">

                                <h1>{{product.title|title}}</h1>

                                <div class="ps-product__meta">
                                    {% if product.brand != None %}
                                        <p>Brand:<a href="#">{{product.brand}}</a></p>
                                    {% else %}
                                        <p>{{product.title}}</p>
                                    {% endif %}

                                    <div class="ps-product__rating">

                                        <span>(1 review)</span>

                                    </div>

                                </div>

                                {% if product.disccount_percentage > 0 %}
                                    <h4 class="ps-product__price sale">${{product.final_price_disscount}}
                                        <del> ${{product.price}}</del><small> (-{{product.disccount_percentage}}%)</small>
                                    </h4>
                                {% endif %}
                                
                                {% if product.sale_price > 0 %}
                                <h4 class="ps-product__price sale">${{product.sale_price}}
                                    <del> ${{product.price}}</del><small> <br><span style="color:black;"><strong>ahorra</strong></span> (-{{product.sale_less_og_price}})</small>
                                </h4>
                                {% endif %}

                                {% if product.disccount_percentage is None and product.sale_price is None %}
                                    <h4 class="ps-product__price sale">${{product.price}}
                                    </h4>
                                {% endif %}


                                <div class="ps-product__desc">

                                    <p> 
                                    	Status:<a href="shop-default.html"><strong class="ps-tag--in-stock"> Disponible</strong></a>

                                    </p>

                                    <ul class="ps-list--dot">

                                        {{product.description}}

                                    </ul>

                                </div>

                                <!-- ============================================== -->
                                                <!-- Timer offer -->
                                <!-- ============================================== -->

                                    <!-- {% include "product/timer.html" %} -->

                                    <!-- end timer offer -->

                            

                                <div class="ps-product__shopping">

                                    <figure>

                                        <figcaption>Cantidad</figcaption>

                                        <div class="form-group--number">

                                            <button class="up">
                                            	<i class="fa fa-plus"></i>
                                            </button>

                                            <button class="down">
                                            	<i class="fa fa-minus"></i>
                                            </button>

                                            <input class="form-control" type="text" placeholder="1">

                                        </div>

                                    </figure>

                                    <a class="ps-btn ps-btn--black" href="#">Agregar</a>

                                    <a class="ps-btn" href="#">Comprar ahora</a>

                                    <div class="ps-product__actions">

                                    	<a href="#">
                                    		<i class="icon-heart"></i>
                                    	</a>

                                    </div>

                                </div>

                                <div class="ps-product__specification">


                                    <p><strong>SKU:</strong> SF1133569600-1</p>

                                    <p class="categories">

                                    	<strong> Categoria: {{product.category}}</strong><br>
                                        <strong> Subcategoria: {{product.subcategory}}</strong><br>

                                    	<a href="#">Consumer Electronics</a>,<a href="#"> Refrigerator</a>,<a href="#">Babies & Moms</a>

                                    </p>

                                    <p class="tags"><strong> Tags</strong>

                                    	<a href="#">sofa</a>

                                    </p>

                                </div>

                                <div class="ps-product__sharing">

                                	<a class="facebook" href="#">
                                		<i class="fab fa-facebook"></i>
                                	</a>

                                	<a class="twitter" href="#">
                                		<i class="fab fa-twitter"></i>
                                	</a>


                                	<a class="linkedin" href="#">
                                		<i class="fab fa-linkedin"></i>
                                	</a>

                                	<a class="instagram" href="#">
                                		<i class="fab fa-instagram"></i>
                                	</a>

                                </div>

                            </div> <!-- End Product Info -->

                        </div> <!-- End Product header -->

                    	<!--=====================================
    					Product Content, Frequently together Machine Learning
    					======================================--> 

                        <!-- {% include "recommender/frequently_together.html" %} -->
                        <!--  End product content -->

                    </div>

                </div><!-- End Left Column -->

                <!--=====================================
    			Right Column
    			======================================--> 

                <div class="ps-page__right">

                    <aside class="widget widget_product widget_features">

                        <p><i class="icon-network"></i> Envio nacional</p>

                        <p><i class="icon-3d-rotate"></i> Logistica y transporte de tus paquetes</p>

                        <p><i class="icon-receipt"></i> Productos de calidad</p>

                        <p><i class="icon-credit-card"></i> Pagos en linea desde tu casa</p>

                    </aside>

                    <!--=====================================
			                Same brand
			        ======================================--> 
                   <!-- {% include "recommender/same_brand.html" %} -->
                   <!--  End same brand module-->

                </div><!-- End Right Column -->

            </div><!--  End Product Container -->

			<!--=====================================
			Customers who bought
			======================================--> 

            <!-- {% include "recommender/also_bought.html" %}  -->
            <!--  End customers who bought -->


            <!--=====================================
			Related products
			======================================--> 
                <!-- {% include "recommender/related_products.html" %}  -->
                <!--  End related products -->

        </div>

    </div><!-- End Product Content -->
{% else %}
    <p>Not stock</p>
{% endif %}

{% include "newsletter.html" %}
{% include "footer.html" %}

{% endblock %}