{% extends "base.html" %}
{% load static %}

{% block title %}ComproMas | {{subcategory.name|title}}{% endblock %}
{% block content %}

{% include "header.html" %}
{% include "pwd/section_path.html" %}
<h1>{{category.name|title}}</h1>
<div class="ps-vendor-store">
            
    <div class="container">
       
        <div class="ps-section__container">
            <div class="ps-section__left">
                <div class="ps-block--vendor">
                    <div class="ps-block__thumbnail"><img src="{% static 'img/vendor/vendor-store.jpg' %}" alt=""></div>
                    <div class="ps-block__container">
                        <div class="ps-block__header">
                            <h4>Digitalworld us</h4>
                            <select class="ps-rating" data-read-only="true">
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                                <option value="1">4</option>
                                <option value="2">5</option>
                            </select>
                            <p><strong>85% Positive</strong> (562 rating)</p>
                        </div><span class="ps-block__divider"></span>
                        <div class="ps-block__content">
                            <p><strong>Digiworld US</strong>, New York’s no.1 online retailer was established in May 2012 with the aim and vision to become the one-stop shop for retail in New York with implementation of best practices both online</p><span class="ps-block__divider"></span>
                            <p><strong>Address</strong> 325 Orchard Str, New York, NY 10002</p>
                            <figure>
                                <figcaption>Foloow us on social</figcaption>
                                <ul class="ps-list--social-color">
                                    <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                  
                                </ul>
                            </figure>
                        </div>
                        <div class="ps-block__footer">
                            <p>Call us directly<strong>(+053) 77-637-3300</strong></p>
                            <p>or Or if you have any question</p><a class="ps-btn ps-btn--fullwidth" href="">Contact Seller</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ps-section__right">
                <div class="ps-shopping ps-tab-root">
                    <div class="ps-shopping__header">
                        <p><strong> {{ total }}</strong> Productos encontrados</p>
                        <div class="ps-shopping__actions">
                            <select class="ps-select" data-placeholder="Sort Items">
                                <option>Ordernar por recientes</option>
                                <option>Ordernar por precio: bajo - alto</option>
                                <option>rdernar por precio: alto - bajo</option>
                            </select>
                            <div class="ps-shopping__view">
                                <p>Vista</p>
                                <ul class="ps-tab-list">
                                    <li class="active"><a href="#tab-1"><i class="icon-grid"></i></a></li>
                                    <li><a href="#tab-2"><i class="icon-list4"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ps-tabs">
                        <div class="ps-tab active" id="tab-1">
                            <div class="row">

                                {% for k in products %}
                                     <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 ">
                                    <div class="ps-product">
                                        <div class="ps-product__thumbnail"><a href="{{ k.get_absolute_url }}"><img src="{{ k.image.url }}" alt=""></a>

                                            
 
											{% if k.disccount_percentage > 0 %}
                                                <div class="ps-product__badge">Oferta</div>
											{% endif %}

                                            {% if k.sale_price > 0 %}
                                                <div class="ps-product__badge">Remate</div>
											{% endif %}
											
											
                                        </div>
                                        <div class="ps-product__container"><a class="ps-product__vendor" href="#"></a>
                                            <div class="ps-product__content"><a class="ps-product__title" href="{{ k.get_absolute_url }}">{{ k.title|title }}</a>
                                            </select><span>{{k.in_stock }} disponibles </span>
                                                <!-- <div class="ps-product__rating">
                                                    
                                                </div> -->
                                                {% if k.sale_price > 0 %}
												    <p class="ps-product__price sale">${{k.sale_price}} <small><del>{{k.price}}</del></small> </p>
											    {% endif %}

                                                {% if k.disccount_percentage > 0 %}
                                                    <p class="ps-product__price">${{ k.final_price_disscount }}  <small><del>{{k.price}}</del></small> <strong style="color:#EC0101;"> -%{{k.disccount_percentage}}</strong></p>
											    {% endif %}

                                                {% if k.sale_price is None and k.disccount_percentage is None %}
                                                    <p class="ps-product__price sale">${{ k.price }} </p>
											    {% endif %}

                                                
                                            </div>
                                            <div class="ps-product__content hover"><a class="ps-product__title" href="{{ k.get_absolute_url }}">{{ k.title|title }}</a>
                                                <!-- <p class="ps-product__price sale">${{ k.price }} </p> -->
                                                {% if k.sale_price > 0 %}
												    <p class="ps-product__price sale">${{k.sale_price}} <small><del>{{k.price}}</del></small> </p>
											    {% endif %}

                                                {% if k.disccount_percentage > 0 %}
                                                    <p class="ps-product__price">${{ k.final_price_disscount }}  <small><del>{{k.price}}</del></small> <strong style="color:#EC0101;"> -%{{k.disccount_percentage}}</strong></p>
											    {% endif %}

                                                {% if k.sale_price is None and k.disccount_percentage is None %}
                                                    <p class="ps-product__price sale">${{ k.price }} </p>
											    {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                {% endfor %}
                                </div>
                               
                            <div class="ps-pagination">
                                <ul class="pagination">
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">Next Page<i class="icon-chevron-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "newsletter.html" %}
{% include "footer.html" %}
{% endblock %}