
<h1>DONE</h1>
<div class="ps-product__countdown">
<figure>

    <figcaption> Don't Miss Out! This promotion will expires in</figcaption>

    <ul class="ps-countdown" data-time="July 21, 2020 15:37:25">

        <li><span class="days"></span>
            <p>Days</p>
        </li>

        <li><span class="hours"></span>
            <p>Hours</p>
        </li>

        <li><span class="minutes"></span>
            <p>Minutes</p>
        </li>

        <li><span class="seconds"></span>
            <p>Seconds</p>
        </li>

    </ul>

</figure>

<figure>

    <figcaption>Sold Items</figcaption>

    <div class="ps-product__progress-bar ps-progress" data-value="28">

        <div class="ps-progress__value"><span></span></div>

        <p><b>20/85</b> Sold</p>

    </div>

</figure>
</div>